<!DOCTYPE html>
<html>
<head>
	<title>Angled Rails</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default text-center">

				<h1 class="margin-base-vertical">Welcome to angled-rails</h1>

				<p>
					We can evaluate expressions! 1 + 2 = {{1+2}}
				</p>
                <p>
                    <button type="submit" class="btn btn-success btn-lg">Bootstrap Button!</button>
                </p>
				
				<div class="margin-base-vertical">
					<small class="text-muted">Email me with any questions at <a href="mailto:jllankfo@ncsu.edu">jllankfo@ncsu.edu</a></small>
				</div>

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

</body>
</html>