<!DOCTYPE html>
<html>
<head>
  <title>Server</title>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.min.css">
    
  <script src="assets/javascripts/vendor.min.js"></script>
    <script src="assets/javascripts/app.js"></script>
  <script src="assets/javascripts/templates.js"></script>
</head>
<body ng-app="angled-rails">
    <section ng-view></section>
</body>
</html>
